:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #353535;
}

a:hover {
  background: #B2B2B2;
}

/*    **********  HEADER  *************  */
.page-header {
  position: fixed;
  top: 5rem;
  left: 5rem;
}

.page-navigation__link {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-color: #353535;
}

.page-navigation__items {
  padding-top: 15px;
}

/* ********  MAIN    ********** */
.content-section {
  min-height: 100vh;
}

.page-content {
  margin-left: 20rem;
  padding: 0 10%;
}

.pojects {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.pojects__item {
  margin: 4rem;
}

.pojects__image {
  width: 30rem;
}

/*    **********  FOOTER  *************  */
.page-footer {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
}

.footer__copyright {
  color: #292929;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.footer__copyright__link {
  text-decoration: underline;
}
