$color-text: #292929;
$color-menu-font: #353535;
$color-hover: #B2B2B2;



@mixin menu-font {
    font: {
        family: 'Quicksand', sans-serif;
        size: 1.8rem;
        weight: 400;
        color: $color-menu-font;
    }
}

@mixin main-text {
    font: {
        family: 'Open Sans', sans-serif;
        size: 1.2rem;
        weight: 400;
    }
}
