@use '/styles/mixins.scss';

/*    **********  COMMON  *************  */

:root {
    font-size: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor:pointer;
    color: $color-menu-font;
    }

    a:hover {
        background: $color-hover

    }
/*    **********  HEADER  *************  */

h1{
    @include menu-font;
font-size: 3.2rem;
font-weight: 400;
}

.page-header {
    position: fixed;
    top: 4rem;
    left: 5rem;
}

.page-navigation__link {
    @include menu-font;
}

.page-navigation {

&__items {
    padding-top: 1.5rem;
}

&__item {
    padding: 0.3rem;
}


}

/* ********  MAIN    ********** */


.content-section {
    min-height: 100vh;
  }

  .page-content {
      margin-left: 20rem;
      padding: 3rem 10%;
  }


/*    **********  FOOTER  *************  */

.page-footer {
    position: fixed;
    bottom: 5rem;
    left: 5rem;
}

.footer__copyright {
    color: $color-text;
    @include main-text;
    font-size: 1rem;

    &__link {
        text-decoration: underline;
    }
}


