/*    **********  COMMON  *************  */
:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #353535;
}

a:hover {
  background: #B2B2B2;
}

/*    **********  HEADER  *************  */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
  font-size: 3.2rem;
  font-weight: 400;
}

.page-header {
  position: fixed;
  top: 4rem;
  left: 5rem;
}

.page-navigation__link {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
}

.page-navigation__items {
  padding-top: 1.5rem;
}

.page-navigation__item {
  padding: 0.3rem;
}

/* ********  MAIN    ********** */
.content-section {
  min-height: 100vh;
}

.page-content {
  margin-left: 20rem;
  padding: 3rem 10%;
}

/*    **********  FOOTER  *************  */
.page-footer {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
}

.footer__copyright {
  color: #292929;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-size: 1rem;
}

.footer__copyright__link {
  text-decoration: underline;
}

/*********  MAIN PAGE - PROJECTS SECTION   ***********/
.pojects {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.pojects__item {
  margin: 4rem;
}

.pojects__title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  font-color: #353535;
  text-align: center;
}

.pojects__image {
  width: 30rem;
}

/******* CV *******/
.bio {
  margin-top: 4rem;
}

.bio__block {
  margin: 5rem;
}

.bio__subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
}

.bio__img {
  width: 40rem;
}

.bio__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}
